@font-face {
    font-family:dmSansRegular;
    src: url(../../assets/fonts/DMSans-VariableFont.ttf)
    format(Truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:dmSansMedium;
    src: url(../../assets/fonts/DMSans-VariableFont.ttf)
    format(Truetype);
    font-weight:500;
    font-style: normal;
}

@font-face {
    font-family:dmSansBold;
    src: url(../../assets/fonts/DMSans-VariableFont.ttf)
    format(Truetype);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:TitanOneRegular;
    src: url(../../assets/fonts/TitanOne-Regular.ttf)
    format(Truetype);
    font-weight: 400;
    font-style: normal;
}