<header class="header">
  <img class="header-logo" src="./svg/logo1.png" alt="" />
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-list-li header-li-color2">
        <a class="header-list-a" href="">Home</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a2" href="">About us</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a3" href="">How it’s made?</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a4" href="">Our products</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button class="header-btn">
    <span class="header-btn-text">Buy now</span>
    <svg class="header-btn-svg">
      <use href="./svg/symbol-defs.svg#icon-header-arrow"></use>
    </svg>
  </button>
</header>

<main>
  <section class="hero">
    <h1 class="hero-h1">
      <span class="hero-h1-span1">ice cream<br />made with</span>
      <br />
      <span class="hero-h1-span2">PASSION</span>
    </h1>
    <button class="hero-btn-red">Products</button>
    <button class="hero-btn-white">How it’s made?</button>
    <picture>
      <source
        srcset="
          ./img/1x/header-milk-img1x.webp 1x,
          ./img/2x/header-milk-img2x.webp 2x,
          ./img/3x/header-milk-img3x.webp 3x
        "
      />
      <img class="hero-img-milk" src="./img/1x/header-milk-img1x.webp" alt="" />
    </picture>

    <p class="hero-p">
      Lorem ipsum dolor sit amet, <br />
      consectetur adipiscing elit, <br />
      sed do eiusmod tempor <br />
      incididunt ut labore et
    </p>

    <img class="hero-img-arrow" src="./svg/Group40.png" alt="" />
    <picture>
      <source
        srcset="
          ./img/1x/header-icecream-png1x.webp 1x,
          ./img/2x/header-icecream-png2x.webp 2x,
          ./img/2x/header-icecream-png2x.webp 3x
        "
      />
      <img
        class="header-img-icecream"
        src="./img/1x/header-icecream-png1x.webp"
        alt=""
      />
    </picture>

    <picture>
      <source
        srcset="
          ./img/1x/header-girl-png1x.webp 1x,
          ./img/2x/header-girl-png2x.webp 2x,
          ./img/3x/header-girl-png3x.webp 3x
        "
      />

      <img
        class="header-img-girl"
        src="./img/1x/header-girl-png1x.webp"
        alt=""
      />
    </picture>

    <ul class="hero-list">
      <li class="hero-list-li">
        <p class="hero-list-number">16</p>
      </li>
      <li class="hero-list-li">
        <p class="hero-list-text">cafes</p>
      </li>
      <li class="hero-list-li">
        <p class="hero-list-number">23</p>
      </li>
      <li class="hero-list-li">
        <p class="hero-list-text">food trucks</p>
      </li>
    </ul>
  </section>
</main>
