<header class="header">

<picture>
  <source
    srcset="
      ../assets/img/desktop/x1/desktopLogoX1.webp 1x,
      ../assets/img/desktop/x2/desktopLogoX2.webp 2x,
      ../assets/img/desktop/x3/desktopLogoX3.webp 3x
    "
    media="(min-width: 1200px)"
  />

  <source
    srcset="
      ../assets/img/tablet/x1/tabletLogoX1.webp 1x,
      ../assets/img/tablet/x2/tabletLogoX2.webp 2x,
      ../assets/img/tablet/x3/tabletLogoX3.webp 3x
    "
    media="(min-width: 768px)"
  />

  <source
    srcset="
      ../assets/img/phone/x1/phoneLogoX1.webp 1x,
      ../assets/img/phone/x2/phoneLogoX2.webp 2x,
      ../assets/img/phone/x3/phoneLogoX3.webp 3x
    "
    media="(max-width: 767px)"
  />

  <img
    class="header-logo"
    src="../assets/img/phone/x1/phoneLogoX1.webp"
    alt="Logo"
  />
</picture>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-list-li header-li-color2">
        <a class="header-list-a" href="">Home</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a2" href="">About us</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a3" href="">How it’s made?</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a header-list-a4" href="">Our products</a>
      </li>
      <li class="header-list-li header-li-color1">
        <a class="header-list-a" href="">Contact</a>
      </li>
    </ul>
  </nav>








  <svg class="header-burger">
    <use href="../assets/svg/burger.svg#icon-Burger"></use>
  </svg>








  <button class="header-btn">
    <span class="header-btn-text">Buy now</span>
    <svg class="header-btn-svg">
      <use href="../assets/svg/symbol-defs.svg#icon-arrowSVG"></use>
    </svg>
  </button>
</header>

<main>
  <section class="hero">










      <div class="big-kolo"></div>
    <div class="hero-container">
      
      <h1 class="hero-h1">
        <span class="hero-h1-span1">ice cream made with</span>
       
        <span class="hero-h1-span2">PASSION</span>
      </h1>
      <div class="header-button-div">
        <button class="hero-btn-red">Products</button>
        <button class="hero-btn-white">How it’s made?</button>
      </div>
      <div class="img-p-objednalka">






        <picture>

          <source
            srcset="
              ../assets/img/desktop/x1/desktopJugMilkX1.webp 1x,
              ../assets/img/desktop/x2/desktopJugMilkX2.webp 2x,
              ../assets/img/desktop/x3/desktopJugMilkX3.webp 3x
            "
            media="(min-width:1200px)"
          />

          <source
          srcset="
          ../assets/img/tablet/x1/tabletJugMilkX1.webp 1x,
          ../assets/img/tablet/x2/tabletJugMilkX2.webp 2x,
          ../assets/img/tablet/x3/tabletJugMilkX3.webp 3x
          "
          media="(min-width:768px)"
          />

          <img
            class="hero-img-milk"
            src="../assets/img/desktop/x1/desktopJugMilkX1.webp"
            alt=""
          />
        </picture>














        <div class="p-arrow-objednalka">
          <p class="hero-p">
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit, <br />
            sed do eiusmod tempor <br />
            incididunt ut labore et
          </p>
          <img
            class="hero-img-arrow"
            src="../assets/img/general/x1/arrowRightX1.webp"
            alt=""
          />
        </div>
      </div>















      <picture>
        <source
          srcset="
            ../assets/img/desktop/x1/desktopPassionIceCreamX1.webp 1x,
            ../assets/img/desktop/x2/desktopPassionIceCreamX2.webp 2x,
            ../assets/img/desktop/x3/desktopPassionIceCreamX3.webp 3x
          "
          media="(min-width:1200px)"
        />
        <source
        srcset="
        ./../assets/img/tablet/x1/tabletPassionIceCreamX1.webp 1x,
        ./../assets/img/tablet/x2/tabletPassionIceCreamX2.webp 2x,
        ./../assets/img/tablet/x3/tabletPassionIceCreamX3.webp
        "
        media="(min-width:768px)"
        >
        <source
        srcset="
        ../assets/img/phone/x1/phonePassionIceCreamX1.webp 1x,
        ../assets/img/phone/x2/phonePassionIceCreamX2.webp 2x,
        ../assets/img/phone/x3/phonePassionIceCreamX3.webp 3x
        "
        media="(max-width:767px)"
        >
        <img
          class="header-img-icecream"
          src="../assets/img/desktop/x1/desktopPassionIceCreamX1.webp"
          alt=""
        />
      </picture>










      <picture>
        <source
          srcset="
            ../assets/img/desktop/x1/desktopSooTastyX1.webp 1x,
            ../assets/img/desktop/x2/desktopSooTastyX2.webp 2x,
            ../assets/img/desktop/x3/desktopSooTastyX3.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source srcset="
        ../assets/img/tablet/x1/tabletSooTastyX1.webp 1x,
        ../assets/img/tablet/x2/tabletSooTastyX2.webp 2x,
        ../assets/img/tablet/x3/tabletSooTastyX3.webp 3x
        "
        media="(min-width: 768px)"
        >

        <img
          class="header-img-girl"
          src="../assets/img/desktop/x1/desktopSooTastyX1.webp"
          alt=""
        />
        
      </picture>








      <ul class="hero-list">


        <div class="hero-list-div1">
        <li class="hero-list-li">
                  <div class="white-circle1"></div>
          <p class="hero-list-number">16</p>
        </li>
        <li class="hero-list-li">
          <p class="hero-list-text">cafes</p>
        </li>
        </div>

        <div class="hero-list-div2">
        <li class="hero-list-li">
          <div class="white-circle2"></div>
          <p class="hero-list-number1">23</p>
        </li>
        <li class="hero-list-li">
          <p class="hero-list-text1">food trucks</p>
        </li>
        </div>
      </ul>
  </section>
</main>
