       <section class="products">
<h2 class="prd-h2">100% natural</h2>
<h1 class="prd-h1">products</h1>
<ul class="products-list">
    <li class="products-list-li">
  <div class="product-img-wrap">
    <img src="../assets/img/desktop/x1/desktopIceCreamX1.webp" alt="">
  </div>

  <h2>ice cream</h2>
  <h2>...</h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>
  <button class="products-button">></button>
</li>

    <li class="products-list-li">
  <div class="product-img-wrap">
    <img src="../assets/img/desktop/x1/desktopIceCoffeX1.webp" alt="">
  </div>

  <h2>ice cream</h2>
  <h2>...</h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>
  <button class="products-button">></button>
</li>

    <li class="products-list-li">
  <div class="product-img-wrap">
    <img src="../assets/img/desktop/x1/desktopMilkShakeX1.webp" alt="">
  </div>

  <h2>ice cream</h2>
  <h2>...</h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>
  <button class="products-button">></button>
</li>

</ul>
<picture>
        <source
          srcset="
            ../assets/img/phone/x1/phoneMilkShakeX1.webp 1x,
            ../assets/img/phone/x2/phoneMilkShakeX2.webp 2x,
            ../assets/img/phone/x3/phoneMilkShakeX3.webp 3x
          "
        />
        <img
          class="prd-phone"
          src="../assets/img/phone/x1/phoneMilkShakeX1.webp"
          alt=""
        />
      </picture>
      <picture>
        <source
          srcset="
            ../assets/img/tablet/x1/tabletMilkShakeX1.webp 1x,
            ../assets/img/tablet/x2/tabletMilkShakeX2.webp 2x,
            ../assets/img/tablet/x3/tabletMilkShakeX3.webp 3x
          "
        />
        <img
          class="prd-tablet"
          src="../assets/img/tablet/x1/tabletMilkShakeX1.webp"
          alt=""
        />
      </picture>
    </section>
