       <section class="products">
        <div class="container">

<h2 class="products_h2">100% natural</h2>
<h1 class="products_h1">products</h1>

<ul class="products-list">
    <li class="products-list-li products-list-li1">
        <img src="../assets/img/desktop/x1/desktopIceCreamX1.webp" alt="" class="productsList__img">

        <h2 class="productsList__h2">ice cream</h2>
        <h2 class="productsList__h2Points">...</h2>

        <h4 class="productsList__h4Lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>

        <button class="products-button">></button>
    </li>

    <li class="products-list-li products-list-li2">
        <img src="../assets/img/desktop/x1/desktopIceCoffeX1.webp" alt="" class="productsList__img">
        
        <h2 class="productsList__h2">ice coffee</h2>
        <h2 class="productsList__h2Points">...</h2>
        
        <h4 class="productsList__h4Lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>

        <button class="products-button">></button>
    </li>

    <li class="products-list-li products-list-li3">
        <img src="../assets/img/desktop/x1/desktopMilkShakeX1.webp" alt="" class="productsList__img">
        
        <h2 class="productsList__h2">milkshakes</h2>
        <h2 class="productsList__h2Points">...</h2>
        
        <h4 class="productsList__h4Lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4>
        
        <button class="products-button">></button>
    </li>
</ul>
</div>
    </section>
<!-- <img src="../../assets/img/desktop/x1/desktopIceCoffeX1.webp" alt=""> -->