       <section class="products">
<h2>100% natural</h2>
<h1>products</h1>
<ul class="products-list">
    <li class="products-list-li"><img src="../assets/img/desktop/x1/desktopIceCreamX1.webp" alt=""><h2>ice cream</h2><h2>...</h2><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4><button class="products-button">></button></li>
    <li class="products-list-li"><img src="../assets/img/desktop/x1/desktopIceCoffeX1.webp" alt=""><h2>ice coffee</h2><h2>...</h2><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4><button class="products-button">></button></li>
    <li class="products-list-li"><img src="../assets/img/desktop/x1/desktopMilkShakeX1.webp" alt=""><h2>milkshakes</h2><h2>...</h2><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h4><button class="products-button">></button></li>
</ul>
    </section>
<!-- <img src="../../assets/img/desktop/x1/desktopIceCoffeX1.webp" alt=""> -->