<section class="reviews">
    <div class="container">
        <div class="slide__container">

            <input class="checkbox1 mainCheckbox" type="radio" name="slider" id="slide1">

           <input class="checkbox2 mainCheckbox" type="radio" name="slider" id="slide2">

            <input class="checkbox3 mainCheckbox" id="slide3" type="radio" name="slider">

            <div class="div_move">
            <div class="review_parent">
                 <img src="../assets/img/desktop/x1/desktopPerson3X1.webp" alt="" class="avatar1">
            <div class="review">
                  <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                     nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                     </p>
            </div>
        </div>

        <div class="review_parent">
            <img src="../assets/img/desktop/x1/desktopPerson2X1.webp" alt="" class="avatar1">
             <div class="review">
                 <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                     nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                     </p>
            </div>
            </div>

<div class="review_parent">
    <img src="../assets/img/desktop/x1/desktopPerson1X1.webp" alt="" class="avatar1">
             <div class="review">
                  <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                     nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                     </p>
            </div>
            </div>
            </div>

        </div>
            <ul class="reviews_list">
            <li class="reviews_list_item"><span class="list_item_span">.</span></li>

            <li class="reviews_list_item"><span class="list_item_span">.</span></li>

            <li class="reviews_list_item"><span class="list_item_span">.</span></li>
            </ul>

        <p class="reviews__info">Emily, Los Angeles</p>

        <!-- <ul class="reviews_svglist">
            <li class="list__svgitem"><label for="slide1" class="review_label"><div class="review_label_point"></div></label>
            </li>

            <li class="list__svgitem"><label for="slide2" class="review_label"><div class="review_label_point"></div></label>
            </li>

            <li class="list__svgitem"><label for="slide3" class="review_label"><div class="review_label_point"></div></label>
            </li>
        </ul> -->
    </div> 
</section>