<section class="reviews">
    <div class="container">
        <div class="slide__container"><img src="" alt="" class="avatar1">
            <div class="review_parent">
            <div class="review">
                <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>

             <div class="review">
                <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>

             <div class="review">
                <p class="review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
</div>
        </div>
        <ul class="reviews_list">
            <li class="list__item"><span class="list_item_span">.</span></li>

            <li class="list__item"><span class="list_item_span">.</span></li>

            <li class="list__item"><span class="list_item_span">.</span></li>
        </ul>

        <p class="reviews__info">Emily, Los Angeles</p>

        <ul class="reviews_svglist">
            <li class="list__svgitem"><svg class="svgHome"><use href=""></use></svg></li>

            <li class="list__svgitem"><svg class="svgPoint"><use href=""></use></svg></li></li>

            <li class="list__svgitem"><svg class="svgPoint"><use href=""></use></svg></li></li>
        </ul>
    </div> 
</section>