<section>
  <div class="container">
    <div class="flexbox">
      <div class="card">
        <div class="cardotstup">
          <p class="pcafe label">CAFE</p>
        </div>
        <div class="cardotstup2">
          <h3 class="pcard">Chicago</h3>
        </div>
        <div class="cardotstup1">
          <p class="pgray">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <hr />
        <p class="pcard">
          Monday – Friday<br />
          <span class="spanpink">06:00 AM – 10:00 PM</span>
        </p>

        <p class="pcard">
          Saturday – Sunday<br />
          <span class="spanpink">08:00 AM – 16:00 PM</span>
        </p>
        <hr />
        <p class="pgray">+61(0) 383 766 284</p>
        <p class="pgray">noreply@envato.com</p>
      </div>

      <div class="card">
        <div class="cardotstup">
          <p class="pfoodtruck label">FOOD TRUCK</p>
        </div>
        <h3 class="pcard">Los Angeles</h3>
        <p class="pgray">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <hr />
        <p class="pcard">
          Monday – Friday<br />
          <span class="spanpink">06:00 AM – 10:00 PM</span>
        </p>
        <p class="pcard">
          Saturday – Sunday<br />
          <span class="spanpink">08:00 AM – 16:00 PM</span>
        </p>
        <hr />
        <p class="pgray">+61(0) 383 766 284</p>
        <p class="pgray">noreply@envato.com</p>
      </div>

      <div class="card">
        <div class="cardotstup">
          <p class="pcafe label">CAFE</p>
        </div>
        <h3 class="pcard">New York</h3>
        <p class="pgray">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <hr />
        <p class="pcard">
          Monday – Friday<br />
          <span class="spanpink">06:00 AM – 10:00 PM</span>
        </p>
        <p class="pcard">
          Saturday – Sunday<br />
          <span class="spanpink">08:00 AM – 16:00 PM</span>
        </p>
        <hr />
        <p class="pgray">+61(0) 383 766 284</p>
        <p class="pgray">noreply@envato.com</p>
      </div>
    </div>

    <br />

    <div class="button">
      <button class="ourlocation">
        Our Locations <img src="/assets/img/desktop/x1/Vector 1.png" />
      </button>
      <button class="franchise">
        Franchise <img src="/assets/img/desktop/x1/Vector1red.png" />
      </button>
    </div>
  </div>
</section>
