    <section class="how-made">
        <div class="tradition-container">
            
            <div class="how-made__header">
                <p class="how-made__subtitle">TRADITION AND LOVE</p>
                <h2 class="how-made__title">HOW IT'S MADE?</h2>
            </div>

            <div class="how-made__content">
                <div class="how-made__image-box">
                    
                    <img src="../assets/img/desktop/x1/desktopCowX1.webp" alt="Cow" class="how-made__img">
                </div>
                
                <div class="how-made__text-box">
                    <p class="text-bold">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    <p class="text-regular">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p class="text-regular">Aliquam erat volutpat. Aenean accumsan.</p>
                    <a href="#" class="btn-read-more">Read more &rsaquo;</a>
                </div>
            </div>

            <div class="how-made__stats">
                <div class="stat-item">
                    <div class="stat-icon"></div>
                    <span class="stat-number">721</span>
                    <p class="stat-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
                <div class="stat-item">
                    <div class="stat-icon"></div>
                    <span class="stat-number">16kg</span>
                    <p class="stat-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
                <div class="stat-item">
                    <div class="stat-icon"></div>
                    <span class="stat-number">84</span>
                    <p class="stat-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </div>

        </div>
    </section>

