@media (min-width: 1200px) {
  .mobilewindow,
  .menu-overlay {
    display: none;
  }
}

.mobilewindow {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  z-index: 1001;

  transform: translateX(100%);
  transition: transform 0.35s ease;

  display: block;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.55);

  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}
.menu-overlay.active {
  opacity: 1;
  pointer-events: all;
}
.mobilewindow.active {
  transform: translateX(0);
}
.mobilewindow-box {
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 171px;
}
.mobilewindow-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 0px;
}
.mobilewindow-btn-text {
  font-family: dmSansRegular;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}
.mobilewindow-btn-svg {
  width: 4px;
  height: 8px;
}
.mobilewindow-close {
  right: 28px;
  top: 23px;
  position: absolute;
  width: 14px;
  height: 14px;
  color: #ffffff;
  background: none;
  border: 0px;
}
.mobilewindow-list-li1 {
  border-bottom: 1px solid #e18298;
  width: 100%;
}
.mobilewindow-list-li2 {
  border-top: 1px solid #e18298;
  width: 100%;
}
.mobilewindow-list-a {
  margin-left: 21px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: 'dmSansRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.mobilewindow-list-a1 {
  color: #d41443;
}
.mobilewindow-list-a2 {
  color: #ffffff;
}
.mobilewindow-list-a3 {
  color: #ffffff;
}
.mobilewindow-list-a4 {
  color: #ffffff;
}
.mobilewindow-list-a5 {
  color: #ffffff;
}
.header {
  z-index: 1;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 110px;
  @media (max-width: 1199px) {
  }
}
.header-logo {
  margin-right: 110px;
  width: 199px;
  height: 50px;
  @media (max-width: 1199px) {
    margin-right: 291px;
  }
  @media (max-width: 767px) {
    margin-right: 61px;
  }
}
.header-nav {
  margin-right: 110px;
  @media (max-width: 1199px) {
    display: none;
  }
}
.header-burger {
  display: none;
  @media (max-width: 1199px) {
    display: block;
    margin-right: 30px;
    width: 20px;
    height: 12px;
  }
}
.header-nav-list {
  width: 541px;
  display: flex;
  gap: 35px;
}
.header-btn {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 0px;
  @media (max-width: 767px) {
    display: none;
  }
}
.header-btn-text {
  font-family: dmSansRegular;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}
.header-btn-svg {
  width: 4px;
  height: 8px;
}
.header-li-color1 {
  color: #ffffff;
}
.header-li-color2 {
  color: #d41443;
}
.header-list-li {
  text-align: center;
}
.header-list-a {
  display: block;
  text-decoration: none;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;

  color: #ffffff;
}
.header-list-a2 {
  width: 90px;
}
.header-list-a3 {
  width: 130px;
}
.header-list-a4 {
  width: 110px;
}
.header-button-div {
  margin-top: 25px;
  gap: 15px;
  display: flex;
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  padding-top: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  // background-size: cover;
  @media (max-width: 767px) {
    padding-top: 180px;
    padding-bottom: 160px;
  }
}
.hero-container {
  position: relative;
  width: 1083px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 700px;
  }
  @media (max-width: 767px) {
    width: 320px;
  }
}
.hero-h1 {
  margin-top: 86px;
  width: 277px;
  @media (max-width: 1199px) {
    margin-top: 0px;
    width: 162px;
  }
  @media (max-width: 767px) {
    z-index: 10;
    position: relative;
  }
}
.hero-h1-span1 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media (max-width: 1199px) {
    font-size: 22px;
    line-height: 25px;
  }
  @media (max-width: 767px) {
    display: block;
    width: 218px;
    font-size: 26px;
    line-height: 30px;
  }
}

.hero-h1-span2 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media (max-width: 1199px) {
    font-size: 34px;
    line-height: 31px;
  }
  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 96.5%;
  }
}

.hero-btn-red {
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 104px;
  height: 40px;
  display: block;
  border-radius: 20px;
  background-color: #d41443;
  border: none;
  @media (max-width: 1199px) {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
  }
  @media (max-width: 767px) {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
    z-index: 10;
    position: relative;
  }
}

.hero-btn-white {
  width: 138px;
  height: 40px;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  display: block;
  border-radius: 20px;
  @media (max-width: 1199px) {
    width: 83px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
  }
  @media (max-width: 767px) {
    width: 83px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
    z-index: 10;
    position: relative;
  }
}
.img-p-objednalka {
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
}
.hero-img-milk {
  margin-top: 56px;
  @media (max-width: 1199px) {
  }
}
.hero-p {
  margin-top: 112px;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 8px;
    line-height: 12px;
  }
}

.hero-img-arrow {
  margin-top: 20px;
  width: 26px;
  height: 26px;

  @media (max-width: 1199px) {
    width: 18px;
    height: 18px;
  }
}
.header-img-girl {
  right: 20px;
  bottom: 0;
  position: absolute;
  @media (max-width: 1199px) {
    right: 0;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.header-img-icecream {
  left: 40%;
  bottom: 0;
  position: absolute;
  @media (max-width: 1199px) {
  }
  @media (max-width: 767px) {
    z-index: 0;
    bottom: -160px;
  }
}

.big-kolo {
  left: 50%;
  transform: translateX(-50%);
  top: 52px;
  position: absolute;
  background-color: #ffa5ba;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  @media (max-width: 1199px) {
    width: 324px;
    height: 322px;
    left: 307px;
    top: 31px;
    left: 50%;
  }
  @media (max-width: 767px) {
    width: 346px;
    height: 344px;
    top: 83px;
    left: 0%;
    left: 40px;
    transform: translate(0);
    z-index: 0;
  }
}

.hero-list {
  top: 0;
  right: 0;
  position: absolute;
  @media (max-width: 767px) {
    display: none;
  }
}
.hero-list-li {
  position: relative;
}

.hero-list-div1 {
  width: 72px;
  height: 77px;
  @media (max-width: 1199px) {
    width: 43px;
    height: 44px;
  }
}
.hero-list-div2 {
  width: 92px;
  height: 76px;
  @media (max-width: 1199px) {
    width: 51px;
    height: 43px;
  }
}
.white-circle1 {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  @media (max-width: 1199px) {
    width: 16px;
    height: 16px;
  }
}
.white-circle2 {
  top: 0;
  right: 20px;
  position: absolute;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  @media (max-width: 1199px) {
    width: 16px;
    height: 16px;
    right: 8px;
  }
}

.hero-list-number {
  position: relative;
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
  @media (max-width: 1199px) {
    font-size: 28px;
    line-height: 32px;
  }
}
.hero-list-text {
  text-align: center;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  @media (max-width: 1199px) {
    font-size: 8px;
    line-height: 10px;
  }
}

.hero-list-number1 {
  position: relative;
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
  @media (max-width: 1199px) {
    font-size: 28px;
    line-height: 32px;
  }
}
.hero-list-text1 {
  text-align: start;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  @media (max-width: 1199px) {
    font-size: 8px;
    line-height: 10px;
  }
}
