.header {
  width: 1300px;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header-logo {
  margin-right: 110px;
  width: 199px;
  height: 50px;
}
.header-nav {
  margin-right: 110px;
}
.header-nav-list {
  width: 541px;
  display: flex;
  gap: 35px;
}
.header-btn {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 0px;
}
.header-btn-text {
  font-family: dmSansRegular;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}
.header-btn-svg {
  width: 4px;
  height: 8px;
}
.header-li-color1 {
  color: #ffffff;
}
.header-li-color2 {
  color: #d41443;
}
.header-list-li {
  text-align: center;
}
.header-list-a {
  display: block;
  text-decoration: none;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;

  color: #ffffff;
}
.header-list-a2 {
  width: 90px;
}
.header-list-a3 {
  width: 130px;
}
.header-list-a4 {
  width: 110px;
}
.header-button-div {
  margin-top: 25px;
  gap: 15px;
  display: flex;
}
.big-kolo {
  z-index: -1;
  right: 300px;
  top: 0;
  position: absolute;
  background-color: #ffa5ba;
  width: 538px;
  height: 538px;
  border-radius: 50%;
}
.hero {
  position: relative;
  z-index: -2;
  background-color: #ffb8ca;
  padding-top: 108px;
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}
.hero-container {
  position: relative;
  width: 1083px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.hero-h1 {
  margin-top: 86px;
}
.hero-h1-span1 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-h1-span2 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.hero-btn-red {
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 104px;
  height: 40px;
  display: block;
  border-radius: 20px;
  background-color: #d41443;
  border: none;
}
.hero-btn-white {
  width: 138px;
  height: 40px;
  /* How it’s made? */
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  display: block;
  border-radius: 20px;
}

.hero-img-milk {
  margin-top: 56px;
}
.hero-p {
  margin-top: 112px;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.img-p-objednalka {
  display: flex;
}
.hero-img-arrow {
  margin-top: 20px;
}
.header-img-girl {
  right: 120px;
  bottom: 0;
  position: absolute;
}
.header-img-icecream {
  z-index: 1;
  left: 40%;
  bottom: 0;
  position: absolute;
}

.hero-list-div {
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.hero-list-li {
  position: relative;
}
.hero-list-div11 {
  width: 75px;
  height: 100px;
}
.hero-list-div22 {
  width: 75px;
  height: 100px;
}
.hero-list-div1 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.hero-list {
  top: 0;
  right: 0;
  right: 100px;

  position: absolute;
}
.hero-list-number {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
}
.hero-list-text {
  text-align: center;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.hero-list-number1 {
  position: relative;
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
}
.hero-list-text1 {
  text-align: center;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
