.header {
  z-index: 1;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 110px;
  @media (max-width: 1199px) {
  }
}
.header-logo {
  margin-right: 110px;
  width: 199px;
  height: 50px;
  @media (max-width: 1199px) {
    margin-right: 291px;
  }
  @media (max-width: 767px) {
    margin-right: 61px;
  }
}
.header-nav {
  margin-right: 110px;
  @media (max-width: 1199px) {
    display: none;
  }
}
.header-burger {
  display: none;
  @media (max-width: 1199px) {
    display: block;
    margin-right: 30px;
    width: 20px;
    height: 12px;
  }
}
.header-nav-list {
  width: 541px;
  display: flex;
  gap: 35px;
}
.header-btn {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 0px;
  @media (max-width: 767px) {
    display: none;
  }
}
.header-btn-text {
  font-family: dmSansRegular;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}
.header-btn-svg {
  width: 4px;
  height: 8px;
}
.header-li-color1 {
  color: #ffffff;
}
.header-li-color2 {
  color: #d41443;
}
.header-list-li {
  text-align: center;
}
.header-list-a {
  display: block;
  text-decoration: none;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;

  color: #ffffff;
}
.header-list-a2 {
  width: 90px;
}
.header-list-a3 {
  width: 130px;
}
.header-list-a4 {
  width: 110px;
}
.header-button-div {
  margin-top: 25px;
  gap: 15px;
  display: flex;
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  padding-top: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  // background-size: cover;
}
.hero-container {
  position: relative;
  width: 1083px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 700px;
  }
}
.hero-h1 {
  margin-top: 86px;
}
.hero-h1-span1 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 30px;
  }
}

.hero-h1-span2 {
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 96.5%;
  }
}
.hero-btn-red {
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 104px;
  height: 40px;
  display: block;
  border-radius: 20px;
  background-color: #d41443;
  border: none;
  @media (max-width: 767px) {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
  }
}

.hero-btn-white {
  width: 138px;
  height: 40px;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  display: block;
  border-radius: 20px;
  @media (max-width: 767px) {
    width: 83px;
    height: 24px;
    font-size: 8px;
    line-height: 10px;
  }
}
.img-p-objednalka {
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
}
.hero-img-milk {
  margin-top: 56px;
  @media (max-width: 1199px) {
  }
}
.hero-p {
  margin-top: 112px;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.hero-img-arrow {
  margin-top: 20px;
}
.header-img-girl {
  right: 20px;
  bottom: 0;
  position: absolute;
  @media (max-width: 1199px) {
    right: 0;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.header-img-icecream {
  left: 40%;
  bottom: 0;
  position: absolute;
  @media (max-width: 1199px) {
  }
  @media (max-width: 767px) {
    top: 92px;
    left: 117px;
  }
}
.big-kolo {
  left: 50%;
  transform: translateX(-50%);
  top: 52px;
  position: absolute;
  background-color: #ffa5ba;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  @media (max-width: 1199px) {
  }
  @media (max-width: 767px) {
    width: 346px;
    height: 344px;
    left: 0%;
    left: 36px;
  }
}

.hero-list {
  top: 0;
  right: 0;
  position: absolute;
  @media (max-width: 767px) {
    display: none;
  }
}
.hero-list-li {
  position: relative;
}

.hero-list-div1 {
  width: 72px;
  height: 77px;
}
.hero-list-div2 {
  width: 92px;
  height: 76px;
}
.white-circle1 {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.white-circle2 {
  top: 0;
  right: 20px;
  position: absolute;
  background-color: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.hero-list-number {
  position: relative;
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
}
.hero-list-text {
  text-align: center;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.hero-list-number1 {
  position: relative;
  font-family: TitanOneRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #d41443;
}
.hero-list-text1 {
  text-align: start;
  font-family: dmSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
